body {
    background-color: 242,240,239;
    font-family: 'poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: "Nanum Myeongjo", serif;
    color:rgb(87, 26, 29);
}

h1 {
    padding-left: 2rem;
    color:rgb(87, 26, 29);
}

p {
    font-family: 'poppins', sans-serif;
    color:rgb(87, 26, 29);

}

header {
    position: relative;
    width: 100%;
    color:rgb(87, 26, 29);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 25px 0;

    background: transparent;
    transition: background-color 0.4s ease,
        padding 0.4s ease;

    z-index: 1000;
}

nav a {
    color:rgb(87, 26, 29);
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: opacity 0.3s;
}

nav a:hover {
    opacity: 0.7;
}

nav.scrolled {
    background: rgba(155, 151, 151, 0.65);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.hero {
    width: 100%;
    min-height: 80vh;
    margin-top: 60px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("photos/Jane_Leoniephotos.jpg") ;
    background-size: 110% auto;
    background-position: 80% center;
    filter: grayscale(90%);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color:rgb(87, 26, 29);
}

.hero-content p {
    font-size: 2rem;
    margin-left: 2rem;
    color: rgb(87, 26, 29);
}

main {
    padding: 20px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-top {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    margin-top: 0;
}

#about p {
    max-width: 500px;
    line-height: 2;
}

.about-video {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-video iframe {
    width: 815px;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

#about p {
    max-width: 500px;
    line-height: 2;
}

.headshot {
    width: 350px;
    border-radius: 10px;
}

#contact-section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}

#contact h2 {
    margin-bottom: 40px;
}

.photo-content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.photo-area,
.form-area {
    flex: 1;
}

.form-area {
    max-width: 600px;
    
}

form {
    display: flex;
    flex-direction: column;
    color:rgb(87, 26, 29);
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 2%;
}

button {
    padding: 12px 25px;
    margin-top: 5%;
    border: none;
    background: black;
    color:rgb(87, 26, 29);
    cursor: pointer;
    border-radius: 20px;
}

#upcoming {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 40px;
}

.event-title {
    display: grid;
    font-weight: bold;
    color:rgb(87, 26, 29);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 18px 0;
}

.event {
    display: grid;
    color:rgb(87, 26, 29);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 18px 0;
}

.event:not(:last-child) {
    border-bottom: 1px solid rgb(87, 26, 29);
}

.date {
    font-weight: bold;
    white-space: nowrap;
}

.title {
    font-style: italic;
}

.venue {
    text-align: right;
    white-space: nowrap;
}

footer {
    color:rgb(87, 26, 29);
    font-size: smaller;
}

/* animations */

.reveal-left,
.reveal-right {
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal-left {
    transform: translateX(-100px);
}

.reveal-right {
    transform: translateX(100px);
}

.reveal-left.visible,
.reveal-right.visible {
    opacity: 1;
    transform: translateX(0);
}

/* responsive design on smaller screens */
@media (max-width: 768px) {

    nav {
        gap: 15px;
        padding: 15px;
    }

    nav a {
        font-size: 14px;
    }

    .hero::before {
        background-position: 20% center;
    }

    .about-content,
    .photo-content {
        flex-direction: column;
        gap: 40px;
    }

    .headshot {
        width: 100%;
        max-width: 350px;
    }

    .event {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .venue {
        text-align: left;
    }
}